body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4CAF50; /* Fondo de color azul claro */
}

#center-container {
    text-align: center;
    padding: 20px; /* Añadir espaciado alrededor del contenido */
    background-color: #E8FFE6; /* Fondo de color para el contenido */
    border-radius: 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#button-container {
    text-align: center;
    margin-top: 20px;
}
#goBackButton {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.ball {
    width: 50px;
    height: 50px;
    border: 2px solid #2980b9;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #E6FFE9; /* Color de bolitas sin marcar */
    color: #2980b9; /* Color de letra para bolitas sin marcar */
}


.ball.selected {
    background-color: #B2FFBA; /* Color de bolitas marcadas */
    color: #2980b9; /* Color de letra para bolitas marcadas */
}
#container .ball {
    color: #2980b9; /* Color de letra para los números de las bolitas */
}
#button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#continueToTopic2Button:hover {
    cursor: pointer;
}
button {
    margin: 0 10px;
}
#checkButton {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#nextButton {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
    border: none;
    cursor: pointer;
    border-radius: 10px; 
}
#score {
    font-size: 24px;
    transition: color 0.3s; /* Transición de color de 0.3 segundos */
}
